<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find top job in city</title>
</head>
<body>
    <h2>Find top job in city</h2>
    <table border="2" cellpadding="5">
        <tr>
            <th>City</th>
            <th>Top job</th>
            <th>Number of people</th>
        </tr>
        <tr th:each="city : ${findtopjobincity}">
            <td th:text="${city.getKey()}"></td>
            <td th:each="job : ${city.getValue()}" th:text="${job.getKey()}"></td>
            <td th:each="job : ${city.getValue()}" th:text="${job.getValue()}"></td>
        </tr>
    </table>
</body>
</html>